<html lang="zh-TW">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MIS相關工作介紹</title>

  <style type="text/css">
    * { 
      font-family: "標楷體"; }

    header { 
      font-size: 36px;
      color: black; }

    .col-lg-4 {
      border: 1px solid; }

  </style>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
  <nav class="navbar navbar-expand-md bg-warning navbar-light">
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
  </div>
  </nav>

  <main class="container-fluid bg-dark text-white text-center">

    <nav>
      <h1><a href="http://www.kingtexsewing.com.tw/" 
              class="text-reset text-decoration-none text-white bg-success" target="_blank" id="COMPANY">精機機械廠股份有限公司 </a></h1>
    </nav>

    <img src="/static/kingtex.png" alt="照片" width="500" class="img-fluid rounded-circle" id="PICTURE"> 
    <br><br><br>

    <div class="row">
      <session id="COMPANY" class="col-lg-4">
        <header><a href="http://www.kingtexsewing.com.tw/tw/aboutus.html"
                    class="text-reset text-decoration-none text-white bg-success">公司資訊</header>
        <h3><font color="D55034">公司名：<br>
        </font>精機機械廠股份有限公司<br>
          <font color="D55034">地址：<br>
          </font>新北市新店區安康路3段784號<br>
        <font color="D55034">服務/商品：</h3>
          <h4></font>製鞋機</h4>
          <h4></font>封口機</h4>
          <h4></font>縫機週邊</h4>
        <h3><font color="D55034">公司介紹：</h3>
          <h4></font>工廠不以衝量／追求產能的生產模式，<br>
                    而是以「高值化」的經營理念。<br>
            </font>以高品質／高性能做為產品訴求。</h4>
      </session>

      <article id="worker" class="col-lg-4">
        <header><a href="https://www.1111.com.tw/corp/8810067/"
                    class="text-reset text-decoration-none text-white bg-success">職務介紹</header> 
        <h3><font color="black">1:</font>網管工程師<br>
          <font color="black">2:</font>倉庫管理<br>
          <font color="black">3:</font>裝配線人員<br></h3>
      </article>
      
      <aside id="need" class="col-lg-4">
        <header><a href="https://www.1111.com.tw/corp/8810067/"
                    class="text-reset text-decoration-none text-white bg-success">
        工作條件需求</a></header>
        <h3><font color="D55034">接受身份：</h3><h4></font>上班族、應屆畢業生</h4>
        <h3><font color="D55034">工作經歷：</h3><h4></font>不拘</h4>
        <h3><font color="D55034">學歷要求：</h3><h4></font>大學以上</h4>
        <h3><font color="D55034">科系要求：</h3><h4></font>不拘</h4>
        <h3><font color="D55034">語文條件：</h3><h4></font>不拘</h4>
        <h3><font color="D55034">擅長工具：</h3><h4></font>Linux、C#、Java、PL/SQL、TCP/IP</h4>
      </aside>
    </div><br><br>

    <br><font size="6">
    <div style=" width: 150px; height: 30px; border-color: RGB(166, 172, 175); padding: 5px; text-align: center;">
      <font size="6">
      <a href="/">回首頁<br></div>
      </font></a>
    
    <footer>
      Copyright ©  陳彥傑. All Rights Reserved.
    </footer>
  </main>
</body>
</html>